<% @cart.orderables.each do |orderable| %>
  <% product = orderable.product %>
  <div id="<%= "cart-#{product.id}" %>" class="bg-white rounded-lg shadow-md p-6">
    <p class="my-5 text-xl font-medium"><%= product.name %></p>

    <p class="my-5"><strong class="block font-medium">Description:</strong> <%= product.description %></p>

    <p class="my-5"><strong class="block font-medium">Price:</strong> <%= product.price %></p>

    <div class="my-5">
      <% if product.present? && product.image.present? %>
        <%= image_tag(product.image, class: "w-full h-auto") %>
      <% else %>
        <img src="app/assets/images/error_placeholder.webp" alt="error while loading the picture" class="w-full h-auto">
      <% end %>
    </div>

    <div class="my-5">
      <%= form_with(url: cart_add_path, class: "flex items-center") do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, value: orderable.quantity, min: 0, class: "w-16 mr-2 rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500" %>
        <%= f.submit "Ajouter à votre panier", class: "btn btn-primary" %>
      <% end %>
    </div>

     <div class="my-5">
      <%= form_with(url: cart_remove_path, class: "flex items-center") do |f| %>
        <%= f.hidden_field :product_id, value: orderable.id %>
        <%= f.submit "Retirer de votre panier", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="my-5">
      <strong class="block font-medium">PAYMENT:</strong>
      <%= button_to "Acheter maintenant #{number_to_currency(product.price, unit: "€")}", checkout_create_path(product_id: product.id), class: "btn btn-primary", data: { turbo: false } %>
    </div>

    <% if action_name != "show" %>
      <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this product', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
<% end %>
