<div class="container mx-auto">
  <h1 class="text-2xl font-bold my-4">Mon panier</h1>
  <div class="flex justify-center">
    <div class="w-8/12">
      <table class="table w-full">
        <thead>
          <tr>
            <th scope="col" class="px-4 py-2">Quantité</th>
            <th scope="col" class="px-4 py-2">Nom du produit</th>
            <th scope="col" class="px-4 py-2">Prix unitaire</th>
            <th scope="col" class="px-4 py-2">Prix selon la quantité</th>
            <th scope="col" class="px-4 py-2"></th>
          </tr>
        </thead>
        <tbody>
          <% total_price = 0 %>
          <% @items_in_cart.each do |item| %>
            <tr>
              <td class="px-4 py-2"><%= item.quantity %></td>
              <td class="px-4 py-2"><%= item.item.name %></td>
              <td class="px-4 py-2"><%= item.item.price %>€</td>
              <% total_item = item.item.price * item.quantity.to_d %>
              <td class="px-4 py-2"><%= total_item %>€</td>
              <% total_price += total_item %>
              <td class="px-4 py-2">
                <%= button_to "Supprimer l'article", item, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cet article ?' }, class: 'bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded' %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="font-bold px-4 py-2">Prix total:</td>
            <td class="font-bold px-4 py-2"><%= total_price %>€</td>
            <td class="px-4 py-2"></td>
          </tr>
          <tr>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2">
             <%= button_to "Passer commande", checkout_create_path(total: @total_price), method: :post, class: "btn btn-primary bg-blue-500 text-white px-4 py-2 rounded-lg", data: {turbo: false} %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Image</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    Product
                </th>
                <th scope="col" class="px-6 py-3">
                    Qty
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
               <% @items_in_cart.each do |item| %>
                <td class="w-32 p-4">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg" alt="Apple Watch">
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    <%= item.item.name %>
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center space-x-3">
                        <button class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                            <span class="sr-only">Quantity button</span>
                            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                        </button>
                        <div>
                            <input type="number" id="first_product" class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1" required>
                        </div>
                        <button class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                            <span class="sr-only">Quantity button</span>
                            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                        </button>
                    </div>
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    <%= total_price %>€
                </td>
                <td class="px-6 py-4">
                    <%= button_to "Supprimer l'article", item, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cet article ?' }, class: 'font-medium text-red-600 dark:text-red-500 hover:underline' %>
                </td>
            </tr>
        </tbody>
    </table>
    <% end %>
</div>
