<div class="max-w-screen-xl mx-auto">
<section class="rounded-se-full rounded-es-full bg-gradient-to-r from-amber-300 to-amber-500 mb-10">
  <div class="py-8 px-4 mx-auto max-w-screen-md text-center lg:py-16 lg:px-12">
    <h1 class="mb-4 text-4xl font-bold tracking-tight leading-none text-white lg:mb-6 md:text-5xl xl:text-6xl dark:text-white">Mon Panier</h1>
  </div>
</section>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Image</span>
        </th>
        <th scope="col" class="px-6 py-3">
          Product
        </th>
        <th scope="col" class="px-6 py-3">
          Qty
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% total_price = 0 %>
      <% @items_in_cart.each do |item| %>
        <tr class="bg-white border-b hover:bg-gray-50">
          <td class="w-32 p-4">
            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg" alt="Items">
          </td>
          <td class="px-6 py-4 font-semibold text-gray-900">
            <%= item.item.name %>
          </td>
          <td class="px-6 py-4 font-semibold text-gray-900">
            <%= item.quantity %>
          </td>

                 <% total_item = item.item.price * item.quantity.to_d %>
              <td class="px-6 py-4 font-semibold text-gray-900"><%= total_item %>€</td>
              <% total_price += total_item %>
          <td class="px-6 py-4 font-semibold text-gray-900">
            <%= button_to "Supprimer l'article", item, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cet article ?' }, class: 'font-medium text-red-600 hover:underline' %>
          </td>
        </tr>
      <% end %>
      <tfoot>
        <tr class="font-semibold text-gray-900">
          <th scope="col" class="px-6 py-3 text-base">Total</th>
          <th scope="col" class="px-6 py-3 text-base"></th>
          <th scope="col" class="px-6 py-3 text-base"></th>

          <td class="px-6 py-3">
            <%= total_price %>€
          </td>

          <td class="px-4 py-2">
            <%= button_to "Passer commande", checkout_create_path(total: @total_price), method: :post, class: "text-white bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:ring-amber-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none", data: {turbo: false} %>
          </td>
        </tr>
      </tfoot>
    </tbody>
  </table>
</div>
</div>


