<div class="container">
  <br/>
  <h1 class="text-3xl font-bold mb-6">Créer un nouvel article</h1>
  <br/>
  <br/>
  <%= form_for @item do |f| %>
    <div class="form-group">
      <label class="form-label">Nom de l'article</label>
      <%= f.text_field :name, class: 'border border-gray-300 rounded-md p-2 mb-2 w-full' %>
    </div>
    <div class="form-group">
      <label class="form-label">Description de l'article</label>
      <%= f.text_area :description, class: 'border border-gray-300 rounded-md p-2 mb-2 w-full' %>
    </div>
    <div class="form-group">
      <label class="form-label">Prix de l'article</label>
      <%= f.number_field :price, step: 0.01, class: 'border border-gray-300 rounded-md p-2 mb-2 w-full' %>
    </div>
    <div class="form-group">
        <a href="<%= new_item_path %>" type="button" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Créer un nouvel article</a>
    </div>
  <% end %>
</div>
