<div class="container">
  <h1 class="text-3xl font-bold mb-6">Tous les articles</h1>
  <br />
  <br />
  <br />
  <% if current_user %>
    <%= link_to "Créer un nouvel article", new_item_path, type: "button", class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" %>
  <% end %>

  <% @items.each do |item| %>
    <div class="bg-white shadow-md rounded-lg p-4 mb-4" style="width: 18rem;">
      <div class="card-body">
        <a href="<%= item_path(item.id) %>" class="card-link">
          <h5 class="card-title"><%= item.name %></h5>
        </a>
        <p class="text-gray-600 mb-2"><%= item.description %></p>
        <p class="text-lg font-semibold"><%= item.price %>€</p>
      </div>
      <% if user_signed_in? %>
        <%= form_for @order_cart do |f| %>
          <%= f.hidden_field :item_id, value: item.id %>
          <%= f.hidden_field :cart_id, value: current_user.cart.id %>
          <button type="submit" class="bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 text-white font-medium rounded-lg text-sm px-4 py-2 focus:outline-none">
            Ajouter au panier
          </button>
        <% end %>
      <% end %>
    </div>
    <br />
  <% end %>
</div>
