<section class="bg-white">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img class="w-full hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg" alt="dashboard image">
        <div class="mt-4 md:mt-0">
            <div class="bg-white">
                <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
                    <h2 class="mb-2 text-xl font-semibold leading-none text-gray-900 md:text-2xl "><%= @item.name %></h2>
                    <p class="mb-4 text-xl font-extrabold leading-none text-gray-900 md:text-2xl "><%= @item.price %> €</p>
                    <dl>
                        <dt class="mb-2 font-semibold leading-none text-gray-900">Details</dt>
                        <dd class="mb-4 font-light text-gray-900 sm:mb-5"><%= @item.description %></dd>
                    </dl>
                    <div class="flex items-center space-x-4">
                        <% if current_user.is_admin? %>
                            <a href="<%= edit_item_path %>" class="bg-gray-900 text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                <svg aria-hidden="true" class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path>
                                </svg>
                                Modifier
                            </a>
                            <%= button_to item_path(@item.id), method: :delete, class: 'inline-flex items-center text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center', data: { confirm: "Are you sure you want to delete this item?" } do %>
                                <svg aria-hidden="true" class="w-5 h-5 mr-1.5 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                                </svg>
                                Supprimer l'article
                            <% end %>    
                        <% end %>
                        <% if user_signed_in? %>
                            <%= form_for @order_cart do |f| %>
                            <%= f.hidden_field :item_id, value: @item.id %>
                            <%= f.hidden_field :cart_id, value: current_user.cart.id %>
                            <button type="submit" class="text-white bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Ajouter au panier</button>
                            <% end %>
                        <% else %>
                            <a href="<%= new_user_session_path %>" class="text-white bg-amber-500 hover:bg-amber-600 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Ajouter au panier</a>
                        <% end %>
                        <a href="<%= items_path %>" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200">
                            Retourner à la boutique
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
