<!DOCTYPE html>
<html>
<head>
  <title>Au-delà d'elles - L'association qui lutte contre le cancer et qui soutien les personnes atteintes</title>
  <meta name="description" content="Soutenues par l’association Au-Delà Du Cancer, les gazelles mettront en place durant une année et demie des actions pour leur permettre de réaliser financièrement cet incroyable défi ! ">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.turbo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render partial: "layouts/nav"%> 
   
  <div class="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <%= render partial: "layouts/footer"%>
  

</body>
</html>
