<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Au-delà d'elles - L'association qui lutte contre le cancer et qui soutien les personnes qui en sont atteintes</title>
  <meta name="description" content="Découvrez notre association Au-Delà Du Cancer et son incroyable défi soutenu par les Gazelles. Pendant un an et demi, nous mettons en place des actions pour collecter des fonds et lutter contre le cancer. Rejoignez-nous dans cette noble cause et soutenez notre combat contre le cancer en faisant une différence aujourd'hui.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render 'layouts/nav' %>
  <main class="content">
    <%= yield %>
  </main>
  <%= render partial: "layouts/footer"%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.turbo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://js.stripe.com/v3/"></script>
</body>
</html>

